@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
	width: 0%;
}

body {
	font-family: Bricolage;
	background-color: #0B3848;
	overflow-x: hidden;
}

@font-face {
	src: url("../font/Bricolage.woff2");
	font-family: Bricolage;

}

@font-face {
	font-family: Hff;
	src: url("../font/hff-hunts-deco.otf") format("opentype"),
		 url("../font/hff-hunts-deco.ttf") format("truetype");
}

.text-hff {
	font-family: Hff;
}

@layer utilities {
	.padding-x {
		@apply px-[30px] xm:px-[20px] sm:px-[20px];
	}
}
