@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
	width: 0%;
}


@font-face {
	font-family: Agr;
	src: url("/fonts/agraham/Agraham.otf") format("opentype"),
		
}

@font-face {
	font-family: Ret;
	src: url("/fonts/retro-floral/retrof.otf") format("opentype"),
		
}


body {
	background-color: #355070;
	overflow-x: hidden;
}



@layer utilities {
	.padding-x {
		@apply px-[30px] xm:px-[20px] sm:px-[20px];
	}
}
